In [1]:
import sys
sys.path.append("../src")

In [4]:
from IPython.display import display, HTML
from extra import *

In [5]:
comments = read_comments("../data/RC_2013-02", maxsize=1)
comments2df(comments, first_k=1, columns=None).T

                                                                0
archived                                                     True
author                                                     FDPD37
author_flair_css_class                                       None
author_flair_text                                            None
body                    Well, for twelve she can draw pretty good
controversiality                                                0
created_utc                                            1359676800
distinguished                                                None
downs                                                           0
edited                                                      False
gilded                                                          0
id                                                        c8772x8
link_id                                                 t3_17nftr
name                                                   t1_c8772x8
parent_id                                               t3_17nftr
retrieved_on                                           1431145437
score                                                           2
score_hidden                                                False
subreddit                                                     WTF
subreddit_id                                             t5_2qh61
ups                                                             2

In [11]:
comments = read_comments("../data/RC_2013-02", maxsize=10)
comments2df(comments, first_k=10, columns=["author", "name", "parent_id", "link_id", "id"]).set_index("id")

                     author        name   parent_id    link_id
id
c8772x8              FDPD37  t1_c8772x8   t3_17nftr  t3_17nftr
c8772x9        bigfatround0  t1_c8772x9  t1_c876vb8  t3_17nbzi
c8772xa             ciberaj  t1_c8772xa  t1_c86ss4p  t3_17lp3i
c8772xb              104372  t1_c8772xb  t1_c872n0h  t3_17nauq
c8772xc              Kina13  t1_c8772xc   t3_17niyr  t3_17niyr
c8772xd    ArchangelleLogie  t1_c8772xd  t1_c874n87  t3_17ncfe
c8772xe       WithYouAround  t1_c8772xe  t1_c87714c  t3_17ntxf
c8772xf            briguy19  t1_c8772xf  t1_c871h4q  t3_17n1s4
c8772xg          luckyday13  t1_c8772xg  t1_c876xvl  t3_17mwkc
c8772xh  TheAlbinoEthiopian  t1_c8772xh   t3_17ntoz  t3_17ntoz

In [ ]:
s1 = textblob.TextBlob("Egypt is the worst country in the world").sentiment
s1.polarity, s1.subjectivity

In [ ]:
s2 = textblob.TextBlob("Egypt is the oldest country in the world").sentiment
s2.polarity, s2.subjectivity